 .p-pricing {
     h1 {}
     .advice-four-icons {
         padding-top: 54px;
         padding-bottom: 42px;
         .list-group {
             .list-group-item {
                 text-align: center;
                 .advice-icon {
                     font-size: 5rem;
                 }
             }
         }
         li span {
             text-align: center;
         }
         li span.advice-icon {
             display: block;
             text-align: center;
         }
     }
     .learn-more-bg {
         border-top: black 1px solid;
         border-bottom: black 1px solid;
     }
     .pricing-learn-more {
         h1 {
             margin-top: rs(2);
             margin-bottom: rs(2);
         }
         a.btn {
             line-height: 2;
             padding-left: rs(35px);
             padding-right: rs(35px);
         }
         .call-our-sale {
             margin-top: rs(1.5);
             margin-bottom: rs(1.5);
         }
     }
 }